@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textBody {
    @apply text-sm md:text-base;
  }
  .textTitle {
    @apply text-2xl font-medium md:text-3xl md:font-semibold;
  }
  .textSubtitle {
    @apply text-4xl  md:text-5xl md:font-medium;
  }
  .textinfo {
    @apply text-xs  font-light;
  }
}
input {
  outline: none;
}
input:focus {
  outline: none;
}
@font-face {
  font-family: "calibri";
  src: url("/fonts/Calibri-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "calibri";
  src: url("/fonts/Calibri-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "calibri";
  src: url("/fonts/Calibri-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  font-weight: 200;
  src: url("/fonts/Almarai-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  font-weight: 400;
  src: url("/fonts/Almarai-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  font-weight: 700;
  src: url("/fonts/Almarai-Bold.ttf");
  font-display: swap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px (255, 255, 255, 0.1) inset;
  box-shadow: 0 0 0 30px (255, 255, 255, 0.1) inset;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;

  color: #444;
}

a {
  color: inherit;
  text-decoration: none;
}

.Almarai {
  font-family: "Almarai";
}
.calibri {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}

.rotateGlobeX {
  animation: rotationX 20s infinite linear;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes rotationX {
  25% {
    transform: translateX(155px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-155px);
  }
  100% {
    transform: translateX(0);
  }
}
.rotateGlobeY {
  animation: rotationY 20s infinite linear;
}

@keyframes rotationY {
  25% {
    transform: translateY(155px);
  }
  50% {
    transform: translateY(310px);
  }
  75% {
    transform: translateY(155px);
  }
  100% {
    transform: translateY(0);
  }
}
.subscribeBG-en {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(232, 1, 1, 1) 0%,
    rgba(210, 126, 8, 1) 100%
  );
}
.subscribeBG-ar {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(210, 126, 8, 1) 0%,
    rgba(232, 1, 1, 1) 100%
  );
}

.rotate.active {
  width: 100%;
  height: 100%;
  animation: circle 10s infinite linear;
}
.rotate.active .counterrotate {
  width: 70px;
  height: 70px;
  animation: ccircle 10s infinite linear;
}

@keyframes circle {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes ccircle {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.rotateYInf {
  animation: rotationY 5s infinite linear;
}
@keyframes rotationY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.delay-0 {
  animation-delay: 0;
}
.delay-1 {
  animation-delay: 200ms;
}
.delay-2 {
  animation-delay: 400ms;
}
.delay-3 {
  animation-delay: 600ms;
}
.delay-4 {
  animation-delay: 800ms;
}

.glass {
  width: 100%;
  height: 3.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(12px);
}

.movingBorder::before {
  content: "";
  position: absolute;
  left: 3.3rem;
  top: -4.1rem;
  width: 70px;
  height: 330px;
  background: linear-gradient(#00b8d4 50%, orange 50%);
  animation: animate 4s linear infinite;
  z-index: -100;
}
.movingBorder::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background: #f4f4f4;
  z-index: -90;
  border-radius: 10px;
}

.fullRotation {
  animation: animate2 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(0deg);
    height: 2.5rem;
  }
  100% {
    transform: rotate(360deg);
    height: 4rem;
  }
}

.gradient-text {
  background-color: #003d63;
  background-image: linear-gradient(-45deg, #003d63, #00b8d4);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
